@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
*
{
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background: linear-gradient(#2b1055,#7597de);
    overflow-x: hidden;
    min-height: 100vh;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
} 
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;

}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0552,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -500px;
    top: 130px;
    transform: translateY(100px);
}
#btn
{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    display: inline-block;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0552;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
}
#lupa
{
    float: right;
    position: relative;
    left: 200px;
    bottom: 150px;
    width: 525px;
    height: 520px;
}
#intro
{
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}
#cytat
{
    font-family: 'Verdana';
    white-space: nowrap;
    font-style: italic;
}
#tekst1
{
    font-size: 1.2em;
    color: #fff;
    white-space: nowrap;
}
h3
{
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 30px;
}
.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    line-height: 1.2;
    border: 8px solid black;
    padding: 8px;
    white-space: pre-wrap;
    border-radius: 20px;
    background-color: #ecebe4;
    margin-bottom: 30px;
}

.code span.keyword {
    color: blue;
    font-weight: 800;
}

.code span.comment {
    color: green;
    font-style: italic;
}

.code span.string {
    color: red;
}
li
{
    font-size: 1.2em;
    color: #fff;

}