body {
  margin: 0;
  padding: 0;
  background-color: #7FDBFF;
  background-size: cover;
  font-family: sans-serif;
}
h1
{
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 38px;
}
.box
{
  position: absolute;
  top: 28%;
  left: 50%;
  width: 90%;
  max-width: 1000px;
  transform: translate(-50%,-60%);
}
a{
  color:inherit;
  text-decoration: none;
}
input
{
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s;    
  position: relative;
}
input[type="text"]
{
  background: #fff;
  width: 80%; /*800px*/
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;

}
input[type="submit"]
{
  left: -5px;
  border-radius: 0 25px 25px 0;
  height: 50px;
  width: 15%;
  border: none;
  outline: none;
  cursor: pointer;
  background:#32CD32;
  color: #fff;
}
input[type="submit"]:hover
{
  background: lightslategrey;
}

p
{
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
}
p .count
{
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  font-family: sans-serif;
}

.hinter {
  position: absolute;
  bottom: 10%;
  left: 5%;
  display: flex;
  align-items: center;
}

.hinter img {
  margin-right: 10px;
  width: 45px;
  height: 45px;
}

.hinter p {
  font-family: sans-serif;
  color: #fff;
  font-size: 18px;
  margin-left: 0.5px;
  display: inline-block;
}

.prediction_title
{
  position: absolute;
  top: 50%;
  left: 23%;
  transform: translate((-50%,-50%));
}
h3
{
font-family: sans-serif;
padding: 0;
color: #fff;
font-size: 24px;
}
#message
{
  color: red;
  font-weight: bold;
}

.warning {
  color: red;
}

/*Skalowanie*/

@media (max-width: 850px) {

  .prediction_title {
    left: 15%;
  }
  h3 {
    font-size: 18px;
  }
}

@media (max-width: 760px) {
  
  .box {
    top: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 600px;
  }
  
  input[type="text"] {
    width: 70%;
    max-width: 300px;
  }
  
  input[type="submit"] {
    width: 30%;
    max-width: 100px;
  }
  
  h1 {
    font-size: 28px;
  }
  .prediction_title {
    left: 5%;
  }
  h3 {
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
  }
  .hinter img {
    width: 35px;
    height: 35px;
  }
  .hinter p {
    font-size: 10px;
  }
  }
  
@media (max-width: 400px) {
  
  .box {
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 400px;
  }
  
  input[type="text"] {
    width: 90%;
    max-width: 250px;
  }
  
  input[type="submit"] {
    width: 30%;
    max-width: 80px;
  }
  
  h1 {
    font-size: 24px;
  }
    .prediction_title {
      left: 5%;
  }
  h3 {
    font-size: 11px;
  }
  p {
    font-size: 14px;
  }
  .hinter img {
    width: 30px;
    height: 30px;
  }
  .hinter p {
    font-size: 8px;
  }
  }
